<div class="centered-content">
    <div class="white-box">

        <h1 class="title primary-text">Sign up</h1>

        <form #signupForm="ngForm" (ngSubmit)="onFormSubmit(signupForm)">
          
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input
              ngModel
              #usernameInput = "ngModel"
              name="username"
              class="input has-background-light" 
              type="username" 
              placeholder="Username"
              required
              minlength="3">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <input 
              ngModel
              #passInput = "ngModel"
              name="password"
              class="input has-background-light" 
              type="password" 
              placeholder="Password"
              required
              minlength="8">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <input 
              ngModel
              #confirmPassInput = "ngModel"
              name="confirmpassword"
              class="input has-background-light" 
              type="password" 
              placeholder="Confirm Password"
              required
              minlength="8">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          
          <div class="field" style="display: flex; justify-content: flex-end;">
            <p class="control">
              <button class="button primary-button has-text-white" type="submit" (click)="onSignupButtonClicked(usernameInput.value, passInput.value, confirmPassInput.value)">
                Sign up
              </button>
            </p>
          </div>

          <br>

          <p class="has-text-grey">Already have an account? <a routerLink="/login">Login</a> now!</p>

          <p *ngIf="signupFailed" class="help is-danger">{{ errorMessage }}</p>

        </form>

    </div>
</div>